body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content-container {
    margin-top: 30px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px 20px 20px 20px;
    box-shadow: 0px 2px 7px #7e7e7e;
    border-radius: 10px;
}

input,
select,
textarea {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 0.25em;

}

label{
    width:100px;
    display: inline-block;
    text-align: right;
}
button {
    padding: 5px 5px;
    background-color: white;
    color: black;
    border: 2px solid black ;
    border-radius: 0.3125em;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

.input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:40px; 
    padding-right: 20px;
    font-size: 12px;

}

.input-group-name, .input-group-birth, .input-group-email,
.input-group-phone, .input-group-livecity, .input-group-items,
.input-group-improvement{
    height: 130px;
    width: 100%;
    align-items: center; 
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}




.input-group-improvement{
    grid-column: 1 / span 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}

.group-radioes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.group-radioes label{
    width:28px;
    margin-right:18px;
    text-align: right;
}

.group-radioes input{
    width: 30px;
}
.group-checkboxs {
    padding:0px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.group-checkboxs label{
    width: auto;
    text-align: right;
}

.group-checkboxs input{
    width: 30px;
    padding: 0px;
    margin: 0px;
    
}

fieldset {
    border: none;
    margin:0px;
    padding:0px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    height: 80px;
}



p, legend{
    font-size: 15px;
}

p.error-message{
    font-size: 12px;
    color: #92022f;
    margin: 5px;
}



.end{
    display: none;
    width: 100%;
    align-items: center;
    flex-direction: column; 
    align-items: center; 
}

.end p{
    font-size: 20px;
    font-style: bold;
}

@media only screen and (max-width: 600px)  {
    .input-group{
        display: flex;
        flex-wrap: wrap;
    }
}