body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 95%;
    max-width: 48.25em;
    background: white;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input,
select,
textarea {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 0.25em;

}

label{
    width:100px;
    display: inline-block;
    text-align: right;
}
button {
    padding: 5px 5px;
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
}

button:hover {
    background-color: #005f73;
}

.input-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:40px; 
    padding-right: 20px;
    font-size: 12px;

}

.input-group-name, .input-group-birth, .input-group-email,
.input-group-phone, .input-group-livecity, .input-group-items,
.input-group-improvement{
    height: 130px;
    width: 100%;
    align-items: center; 
}




.input-group-improvement{
    grid-column: 1 / span 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}

.group-radioes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;
    
}

.group-radioes label{
    width:28px;
    margin-right:18px;
    text-align: right;
}

.group-radioes input{
    width: 30px;
}



.group-checkboxs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-checkboxs label{
    width: auto;
    text-align: right;
}

.group-checkboxs input{
    width: 30px;
    padding: 0px;
    margin: 0px;
    
}







p{
    font-size: 15px;
}

p.error-message{
    font-size: 12px;
    color: red;
    margin: 5px;
}



.end{
    display: none;
    align-items: center;
    flex-direction: column; 
    align-items: center; 
}

.end p{
    font-size: 20px;
    font-style: bold;
}